<style>
</style>
<script type="text/javascript">
    Vue.component('vue-product-detail', {
        props: {
        },
        template: '#vue-product-detail-template'
    });
</script>
<script type="text/template" id="vue-product-detail-template">
    <div class="row">
        <div class="col-6" style="border: 1px solid #d8d8d8;">
            <img src="https://www.bonservis.com.tr/csm-cikolata-parcacikli-cookie-4821-pasta-kek-cookie-switz-group-70-gram-x-20-adet-5143-48-O.png" alt="Switz Çikolatalı Cookie" /><!
        </div>

        <div class="col-6">
            <ul style="list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50%;">
                <li style="font-size: 22px;">Switz Çikolatalı Cookie</li>
                <li style="font-size:14px;">Switz Group</li>
                <li style="font-size:14px;">70 Gram x 20 Adet</li>
                <li class="text-bold" style=" font-size: 25px;">109,00 TL + KDV</li>
            </ul>
        </div>
    </div>
</script>