@using MVCWithVUE.Models;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Product Detail";
    Product product = ViewBag.Product;
}

<div id="app">
    <vue-product-detail>
    </vue-product-detail>
</div>

@section Scripts {
    <partial name="~/Views/Shared/Components/Products/_ProductDetail.cshtml" />

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {

            }
        })
    </script>
}
